body{
    background-color: black;
    background-image: url(../images/netflix.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron{
    background-color: orangered;
}

.row{
    display: inline-flex;
}

.ratings{
padding-top: 15px;
font-size: 15px;
}






@media(max-width: 1300px){



    body{
        background-size: 1300px;
    }
    
    
    }